.MainDash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}