.RightSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    padding-right: 16px;
}

@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
}