:root {
  --white: #ffffff;
  --primary: #4B49AC;
  --primary-light: #98BDFF;
  --secondary: #7DA0FA;
  --secondary-light: #7978E9;
  --pink: rgb(243, 121, 126);
  --black: #242d49;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --activeItem: var(--primary);
}

.App {
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  grid-template-columns: 15rem 1fr 20rem;
  gap: 16px;
  background: #F5F7FF;
  color: var(--black);
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    height: 100%;

  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 100%;
  } 
}